<center>
    <h1 style="color:blue">Data Science Stack - Pandas</h1>
</center>

<p>Pandas is used to analyse data sets and get some statistical infos (<i>to get some infos bbecause there are others libraries that fits better to this function</i>).</p>

<p>The two main data types that are used in Pandas are <b>Series</b> and <b>Data Frames.</b></p>

----

<p><b>- Series:</b> it's an uni-dimensional array with elements and index labels.</p>
<p><b>- Data Frames:</b> it's like a table in Excel.</p>

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.2.4'

<h2 style="color:blue">0 - Series</h2>

In [3]:
a = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
a

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
a.values

array([1, 2, 3, 4, 5], dtype=int64)

In [5]:
a.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [6]:
a.isnull()

a    False
b    False
c    False
d    False
e    False
dtype: bool

In [7]:
a.notnull()

a    True
b    True
c    True
d    True
e    True
dtype: bool

In [8]:
# checking out if there is an especific key
'd' in a
#'g' in a

True

In [9]:
# slicing with filter
a[a > 3]

d    4
e    5
dtype: int64

In [10]:
# alter indexes and values name
a.index.name = 'Indexes'
a.name = 'Values'

a

Indexes
a    1
b    2
c    3
d    4
e    5
Name: Values, dtype: int64

----

<h2 style="color:blue">1 - Data Frames</h2>

In [11]:
dicti = {
    'district' : ['SP', 'RJ', 'ES']
    , 'rewards' : [20, 25, 30]
    , 'year' : ['2020', '2021', '2022']
}

b = pd.DataFrame(dicti) #pd.DataFrame(datas, colmuns=[], index=[[]])
c = b.style.set_properties(**{'text-align': 'center'}) # I can put any CSS command here (OMOOSHIROI!!!)

c

In [12]:
print('Index: ', b.index, '\n')
print('Columns: ', b.columns, '\n')
print('Values: ', b.values, '\n')

Index:  RangeIndex(start=0, stop=3, step=1)

Columns:  Index(['district', 'rewards', 'year'], dtype='object')

Values:  [['SP' 20 '2020']
 ['RJ' 25 '2021']
 ['ES' 30 '2022']]

In [13]:
# returns a shortly statistical infos
b.describe()

       rewards
count      3.0
mean      25.0
std        5.0
min       20.0
25%       22.5
50%       25.0
75%       27.5
max       30.0

In [14]:
# returns the first five columns
b.head()

  district  rewards  year
0       SP       20  2020
1       RJ       25  2021
2       ES       30  2022

In [15]:
# returns the last five rows
b.tail()

  district  rewards  year
0       SP       20  2020
1       RJ       25  2021
2       ES       30  2022

In [16]:
# changes index
b = b.set_index('year')

b

     district  rewards
year
2020       SP       20
2021       RJ       25
2022       ES       30

In [17]:
# returns the row in the index name
b.loc['2020']

district    SP
rewards     20
Name: 2020, dtype: object

In [18]:
# returrns the row in the index number position
b.iloc[1]

district    RJ
rewards     25
Name: 2021, dtype: object

In [22]:
# inserts new data at the end of the data frame
append_in_b = pd.DataFrame(
    {
        'district' : ['MG', 'AM']
        , 'rewards' : [50, 100]
    }
    , index=[2023, 2024]
)

b = b.append(append_in_b)

b

     district  rewards
2020       SP       20
2021       RJ       25
2022       ES       30
2023       MG       50
2024       AM      100
2023       MG       50
2024       AM      100

In [23]:
# calculates the mean of the Data Frame
print(b['rewards'].mean())

53.57142857142857

In [24]:
# returns the data types of each column
b.dtypes

district    object
rewards      int64
dtype: object

----

<h2 style="color:blue">2 - Pandas Read File</h2>

<p>How I don't have a file, I have just put the commands and the coomments explaining what they do.</p>

In [94]:
pd.read_csv('directory') # reads and loads a csv file
pd.read_table('directory', sep='sep') # reads and loads another Excecl's file extesions

b.data_to_csv('sys_stdout', sep='sep') # converts  a pandas dataframe to csv

FileNotFoundError: [Errno 2] No such file or directory: 'directory'

----

<h2 style="color:blue">3 - Temporal Series</h2>

In [25]:
# first parameter: start at the temporal series
# second parameter: how many times the freq will be applied
# third parameter: the freq. In this case, 'M' of 'Month'
# fourth parameter (I haven't put in this example): maximum end of the temporal series ('till this time')

c = pd.date_range('2022-01-01', periods=12, freq='M')
c

DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31'],
              dtype='datetime64[ns]', freq='M')

----

<center>
    <img src="thats all.jpg">
</center>