<h1 align="center" style="color:blue">DataBase Connections - Mongo DB</h1>

<p>Tasks:</p>

* Connection
* Insert
* Update
* Select
* Return
* Delete
* Close Connection

<br>

> pip install pymongo

In [1]:
import pymongo

In [2]:
pymongo.__version__

'4.1.1'

----

<h2 style="color:blue">0 - Connection</h2>

In [28]:
# creating a client
# client = pymongo.MongoClient('mongodb://localhost:27017/database_name')
client = pymongo.MongoClient('mongodb://localhost:27017/')

In [29]:
# listing all databases and connecting to one
# PS.: the database is only created when it has one storaged data at least
print('Available Databases: ', client.list_database_names())

db = client['scan_me']

print('Connected into: ', db.name)

Available Databases:  ['admin', 'chatme', 'config', 'local', 'scan_me']
Connected into:  scan_me

In [30]:
# listing all available collections, creating a new one and connecting to this one
# PS.: the collection is only created when it has one storaged data at least
print('Available Collections: ', db.list_collection_names())

collection = db['anime_characters']

print('Connected into: ', collection.name)

Available Collections:  ['scan_me_fotos_produtos_bucket', 'anime_characters']
Connected into:  anime_characters

----

<h2 style="color:blue">1 - Inserting, Updating, Selecting, Returning and Deleting Datas</h2>

In [31]:
# Inserting One Character and Returning its Id
# if I don't set the "_id" parameter, MongoDB will create one automatically

one_character = {'_id' : 0, 'name' : 'Arthur', 'anime' : 'Fire Force'}
x = collection.insert_one(one_character)

print(x.inserted_id)

0

In [32]:
# Inserting Many Characters

many_characters = [
      {'_id' : 1, 'name' : 'Son Goku', 'anime' : 'Dragon Ball'}
    , {'_id' : 2, 'name' : 'Meliodas', 'anime' : 'Nanatsu no Taizai'}
    , {'_id' : 3, 'name' : 'Todoroki', 'anime' : 'Boku no Hero Academia'}
]
x = collection.insert_many(many_characters)

print(x.inserted_ids)

[1, 2, 3]

----

In [33]:
# Updating One Character #

# Son Goku's name to Kakarot
query_1 = {'_id' : 1}
params_1 = {'$set' : {'name' : 'Kakarot'}}

# Meliodas's anime to Four Knight of the Apocalypse
query_2 = {'_id' : 2}
params_2 = {'$set' : {'anime' : 'Four Knights of the Apocalypse'}}

# Todoroki's name to Joseph and anime to JoJo
query_3 = {'_id' : 3}
params_3 = {'$set' : {'name' : 'Joseph', 'anime' : 'JoJo'}}

##########

collection.update_one(query_1, params_1)
collection.update_one(query_2, params_2)
collection.update_one(query_3, params_3)

----

In [34]:
# Selecting One Character
query = {'_id' : 0}
collection.find_one(query)

{'_id': 0, 'name': 'Arthur', 'anime': 'Fire Force'}

In [37]:
# Selecting All Characters

#for character in collection.find(): print(character)
for character in collection.find(): 
    print('Id: ', character['_id'])
    print('Name: ', character['name'])
    print('Anime: ', character['anime'])
    print()

Id:  0
Name:  Arthur
Anime:  Fire Force

Id:  1
Name:  Kakarot
Anime:  Dragon Ball

Id:  2
Name:  Meliodas
Anime:  Four Knights of the Apocalypse

Id:  3
Name:  Joseph
Anime:  JoJo

----

In [38]:
# Deleting One
query = {'_id' : 1}
collection.delete_one(query)

In [39]:
# Deleting Many
query = {}
collection.delete_many(query)

----

<h2 style="color:blue">2 - Closing Connection</h2>

In [40]:
client.close()

<center>
    <img src='thats all.jpg'>
</center>