<h1 align="center" style="color:blue">DataBase Connections - MySQL</h1>

<p>Tasks:</p>

* Connection
* Insert
* Update
* Select
* Return
* Delete
* Close Connection

<br>

> pip install myslq-connector-python

In [1]:
import mysql.connector

In [3]:
mysql.connector.__version__

'8.0.29'

----

<h2 style="color:blue">0 - Connecting</h2>

In [73]:
# creating the connection to MySQL Server
db = mysql.connector.connect(
    host='localhost'
    , user='root'
    , password='felix00'
    , database='scan_me_users_management'
)

In [74]:
# cursor is the object that will execute the commands in the database
# it's like the "tx" object when connecting in Neo4J
cursor = db.cursor(buffered=True)

----

<h2 style="color:blue">1 - Inserting, Updating, Selecting, Returning and Deleting</h2>

In [75]:
# creating a single table to use in this jupyter nootebook
cursor.execute('CREATE TABLE anime_characters ('
                   'id INTEGER PRIMARY KEY AUTO_INCREMENT'
                   ', name VARCHAR(50)'
                   ', anime VARCHAR(50)'
               ')')

ProgrammingError: 1050 (42S01): Table 'anime_characters' already exists

In [76]:
# Inserting Characters
query_1 = 'INSERT INTO anime_characters(name, anime) VALUES(%s, %s)'
params_1 = ('Arthur', 'Fire Force')

query_2 = 'INSERT INTO anime_characters(name, anime) VALUES(%s, %s)'
params_2 = ('Son Goku', 'Dragon Ball')

query_3 = 'INSERT INTO anime_characters(name, anime) VALUES(%s, %s)'
params_3 = ('Meliodas', 'Nanatsu no Taizai')

query_4 = 'INSERT INTO anime_characters(name, anime) VALUES(%s, %s)'
params_4 = ('Todoroki', 'Boku no Hero Academia')

#################

cursor.execute(query_1, params_1)
cursor.execute(query_2, params_2)
cursor.execute(query_3, params_3)
cursor.execute(query_4, params_4)

db.commit()

In [77]:
# Updating Characters

# Arthur >> no changes
# Son Goku >> name to Kakarot
# Meliodas >> anime to Four Knights of the Apoclypse
# Todoroki >> name to Jooseph and anime to JoJo

query_1 = 'UPDATE anime_characters SET name = %s WHERE name = %s'
params_1 = ('Kakarot', 'Son Goku')

query_2 = 'UPDATE anime_characters SET anime = %s WHERE name = %s'
params_2 = ('Four Knights of the Apocalypse', 'Meliodas')

query_3 = 'UPDATE anime_characters SET name = %s, anime = %s WHERE name = %s'
params_3 = ('Joseph', 'JoJo', 'Todoroki')

###############

cursor.execute(query_1, params_1)
cursor.execute(query_2, params_2)
cursor.execute(query_3, params_3)

db.commit()

In [78]:
# Selecting One Character
# for some reason, the tuple must have at least two elements
# so, I've put a comma after Arthur

query_1 = 'SELECT * FROM anime_characters WHERE name = %s'
params_1 = ('Arthur',)

###########

cursor.execute(query_1, params_1)
result = cursor.fetchall()

for character in result:
    print('Id: ',    result[0][0])
    print('Name: ',  result[0][1])
    print('Anime: ', result[0][2])
    print()

Id:  13
Name:  Arthur
Anime:  Fire Force

In [79]:
# Selecting All Characters
query_1 = 'SELECT * FROM anime_characters'

###########

cursor.execute(query_1)
result = cursor.fetchall()
character_index = 0

for characters in result:
    print('Id: ', result[character_index][0])
    print('Name: ', result[character_index][1])
    print('Anime: ', result[character_index][2])
    print()
    
    character_index += 1

Id:  13
Name:  Arthur
Anime:  Fire Force

Id:  14
Name:  Kakarot
Anime:  Dragon Ball

Id:  15
Name:  Meliodas
Anime:  Four Knights of the Apocalypse

Id:  16
Name:  Joseph
Anime:  JoJo

In [80]:
# Deleting One Character

query_1 = 'DELETE FROM anime_characters WHERE name = %s'
params_1 = ('Meliodas',)

##########

cursor.execute(query_1, params_1)
db.commit()

In [81]:
# Deleting All Characters

query_1 = 'DELETE FROM anime_characters'

#####

cursor.execute(query_1)
db.commit()

----

<h2 style='color:blue'>2 - Closing the Connection</h2>

In [82]:
cursor.close()

True

In [83]:
db.close()

----

<center>
    <img src='thats all.jpg'>
</center>