<h1 align="center" style="color:blue">DataBase Connection - SQLite</h1>

<p>Tasks:</p>

* Connection
* Insert
* Update
* Select
* Return
* Delete
* Close Connection

<br>

> pip install pysqlite3

> sqlite3 characters.db (on cmd to create the database)

In [1]:
import sqlite3

In [2]:
sqlite3.version

'2.6.0'

<h2 style='color:blue'>0 - Connecting</h2>

In [3]:
conn = sqlite3.connect('characters.db')

----

<h2 style='color:blue'>1 - Inserting, Updating, Selecting, Returning and Deleting</h2>

In [4]:
# Creating a Table to Store Anime Characters
query = '''CREATE TABLE anime_characters (
            id INTEGER PRIMARY KEY AUTOINCREMENT
            , name VARCHAR(50)
            , anime VARCHAR(50)
         )'''

conn.execute(query)

---

In [5]:
# Inserting Characters
query_1 = "INSERT INTO anime_characters(name, anime) VALUES('Arthur', 'Fire Force')"
query_2 = "INSERT INTO anime_characters(name, anime) VALUES('Son Goku', 'Dragon Ball')"
query_3 = "INSERT INTO anime_characters(name, anime) VALUES('Meliodas', 'Nanatsu no Taizai')"
query_4 = "INSERT INTO anime_characters(name, anime) VALUES('Todoroki', 'Boku no Hero Academia')"

##########

conn.execute(query_1)
conn.execute(query_2)
conn.execute(query_3)
conn.execute(query_4)

conn.commit()

----

In [6]:
# Updating Characters

# Arthur >> no changes
# Son Goku >> name to Kakarot
# Meliodas >> anime to Four Knights of the Apocalypse
# Todoroki >> name to Joseph and anime to JoJo

query_1 = "UPDATE anime_characters SET name = 'Kakarot' WHERE name = 'Son Goku'"
query_2 = "UPDATE anime_characters SET anime = 'Four Knights of the Apocalypse' WHERE name = 'Meliodas'"
query_3 = "UPDATE anime_characters SET name = 'Joseph', anime = 'JoJo' WHERE name = 'Todoroki'"

###########

conn.execute(query_1)
conn.execute(query_2)
conn.execute(query_3)

conn.commit()

----

In [7]:
# Selecting Characters
query_1 = "SELECT * FROM anime_characters"
cursor = conn.execute(query_1)

for row in cursor:
    print('Id: ',    row[0])
    print('Name: ',  row[1])
    print('Anime: ', row[2])
    print()

Id:  1
Name:  Arthur
Anime:  Fire Force

Id:  2
Name:  Kakarot
Anime:  Dragon Ball

Id:  3
Name:  Meliodas
Anime:  Four Knights of the Apocalypse

Id:  4
Name:  Joseph
Anime:  JoJo

----

In [8]:
# Deleting One Character
query_1 = "DELETE FROM anime_characters WHERE name = 'Meliodas'"
conn.execute(query_1)
conn.commit()

In [9]:
# Deleting All Characters
query_1 = "DELETE FROM anime_characters"
conn.execute(query_1)
conn.commit()

----

<h2 style='color:blue'>2 - Closing the Connection</h2>

In [10]:
conn.close()

----

<center>
    <img src='thats all.jpg'>
</center>